.cartitems img{
    width: 100px;
}

.cartitems{
    display: flex;
    gap: 20px;
}
.cartitems-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartitems-content button{
    background-color: rgba(0, 0, 0, 0.098);
    background-color: var(--secondcolor);
    padding: 5px 10px;
}

.cartitems-content span{
    margin: 0 10px;
}