.cartitems img{
    width: 100px;
}

.cartitems{
    display: flex;
    gap: 20px;
}
.cartitems-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cartitems-content span{
    margin: 0 10px;
}
.cartitems-content-right{
    display: flex;
    justify-content: space-between;
}
.cartitems-content-right h4 span{
    margin: 0 !important;
    font-weight: 600;
    color: black;
}