.copyright{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

@media (max-width: 760px) {
    .copyright{
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }}

    /* @media (max-width: 760px) {
        .copyright{
            justify-content: center;
            gap: 20px;
        }} */