h2{
    margin-bottom: 2rem;
}

.featured{
    padding: 40px 0;
}

.car-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px
}

.featured-header{
    display: flex;
    justify-content: space-between;
}