h2{
    margin-bottom: 2rem;
}

.featured{
    padding: 40px 0;
}

.car-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 850px;
    margin: auto;
}