.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 10px;
    border-top: 1px solid #80808035;
    border-bottom: 1px solid rgba(128, 128, 128, 0.206);
}

.Service a{
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
}

.Service,.newsletter,.socials,.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width: 760px) {
    .footer{
        justify-content: center;
        gap: 20px;
    }
    .Service,.newsletter,.socials,.contact {
        display: flex;
        width: 100%;
        text-align: center;
        gap: 10px;
    }
    
}
.newsletter input{
    border: none;
    border-bottom :1px solid #80808035;
    padding: 10px 5px;
}
.newsletter button{
border: none;
background-color: transparent;
font-weight: 700;
}