.navbar,.navbar_logo,.navbar_menu,.navbar_menu ul{
    display: flex;
}

.navbar-header-mobile{
    display: flex;
    justify-content: space-between;
}
.navbar_search-icon{
    position: relative;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}
.navbar_menu{
    align-items: center;
    /* display: none; */
}
.navbar_menu ul li a{
    text-decoration: none;
}
.navbar_menu ul{
    gap: 20px;
    list-style: none;
}
.navbar_logo{
    gap: 40px;
    align-items: center;
}
.navbar_logo img{
    width: 60px;
}

.menu_icon{
    display: none;
}
.navbar_icons {
	display: flex;
	gap: 20px;
}



@media (max-width:760px){
    .navbar_menu{
        display: none;
    }
    .menu_icon{
        display: block;
    }
}



.menu_icon{
    cursor: pointer;
}

.navbar_menu_mobile{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 30px 20px;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 100000000;
    transition: all 2s ease-in-out;
  }
  
  .navbar_menu_mobile ul{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .navbar_menu_mobile ul li{
    list-style: none;
    padding-bottom: 20px;
    display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #00000024;
  }
  .navbar_menu_mobile ul li a{
    text-decoration: none;
    color: var(--seconcolor);
    font-weight: 400;
  }