/* .test{
    height: fit-content;
    display: flex;
}

.one{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: sticky;
    top: 0;
}
.two{

    width: 50px;
    height: 900px;
    background-color: red;
} */